<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanLyHocBa</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>controller.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachHocSinhServlet</servlet-name>
    <servlet-class>controller.DanhSachHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachHocSinhServlet</servlet-name>
    <url-pattern>/danhsachhocsinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachLopServlet</servlet-name>
    <servlet-class>controller.DanhSachLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachLopServlet</servlet-name>
    <url-pattern>/danhsachlop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrangChuServlet</servlet-name>
    <servlet-class>controller.TrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuServlet</servlet-name>
    <url-pattern>/trangchu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachMonHocServlet</servlet-name>
    <servlet-class>controller.DanhSachMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachMonHocServlet</servlet-name>
    <url-pattern>/danhsachmonhoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachGiaoVienServlet</servlet-name>
    <servlet-class>controller.DanhSachGiaoVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachGiaoVienServlet</servlet-name>
    <url-pattern>/danhsachgiaovien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DanhSachPhuHuynhServlet</servlet-name>
    <servlet-class>controller.DanhSachPhuHuynhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachPhuHuynhServlet</servlet-name>
    <url-pattern>/danhsachphuhuynh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemGiaoVienServlet</display-name>
    <servlet-name>ThemGiaoVienServlet</servlet-name>
    <servlet-class>controller.ThemGiaoVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemGiaoVienServlet</servlet-name>
    <url-pattern>/themgiaovien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaGiaoVienServlet</display-name>
    <servlet-name>SuaGiaoVienServlet</servlet-name>
    <servlet-class>controller.SuaGiaoVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaGiaoVienServlet</servlet-name>
    <url-pattern>/suagiaovien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaGiaoVienServlet</display-name>
    <servlet-name>XoaGiaoVienServlet</servlet-name>
    <servlet-class>controller.XoaGiaoVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaGiaoVienServlet</servlet-name>
    <url-pattern>/xoagiaovien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietGiaoVienServlet</display-name>
    <servlet-name>ChiTietGiaoVienServlet</servlet-name>
    <servlet-class>controller.ChiTietGiaoVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietGiaoVienServlet</servlet-name>
    <url-pattern>/chitietgiaovien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietHocSinhServlet</display-name>
    <servlet-name>ChiTietHocSinhServlet</servlet-name>
    <servlet-class>controller.ChiTietHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietHocSinhServlet</servlet-name>
    <url-pattern>/chitiethocsinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemHocSinhServlet</display-name>
    <servlet-name>ThemHocSinhServlet</servlet-name>
    <servlet-class>controller.ThemHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemHocSinhServlet</servlet-name>
    <url-pattern>/themhocsinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaHocSinhServlet</display-name>
    <servlet-name>SuaHocSinhServlet</servlet-name>
    <servlet-class>controller.SuaHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaHocSinhServlet</servlet-name>
    <url-pattern>/suahocsinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaHocSinhServlet</display-name>
    <servlet-name>XoaHocSinhServlet</servlet-name>
    <servlet-class>controller.XoaHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaHocSinhServlet</servlet-name>
    <url-pattern>/xoahocsinh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachLopChuNhiemServlet</display-name>
    <servlet-name>DanhSachLopChuNhiemServlet</servlet-name>
    <servlet-class>controller.DanhSachLopChuNhiemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachLopChuNhiemServlet</servlet-name>
    <url-pattern>/danhsachlopchunhiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachPhanCongGiangDayServlet</display-name>
    <servlet-name>DanhSachPhanCongGiangDayServlet</servlet-name>
    <servlet-class>controller.DanhSachPhanCongGiangDayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachPhanCongGiangDayServlet</servlet-name>
    <url-pattern>/danhsachphanconggiangday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietPhuHuynhServlet</display-name>
    <servlet-name>ChiTietPhuHuynhServlet</servlet-name>
    <servlet-class>controller.ChiTietPhuHuynhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietPhuHuynhServlet</servlet-name>
    <url-pattern>/chitietphuhuynh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaPhuHuynhServlet</display-name>
    <servlet-name>SuaPhuHuynhServlet</servlet-name>
    <servlet-class>controller.SuaPhuHuynhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaPhuHuynhServlet</servlet-name>
    <url-pattern>/suaphuhuynh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaPhanCongGiangDayServlet</display-name>
    <servlet-name>SuaPhanCongGiangDayServlet</servlet-name>
    <servlet-class>controller.SuaPhanCongGiangDayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaPhanCongGiangDayServlet</servlet-name>
    <url-pattern>/suaphanconggiangday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaPhanCongGiangDayServlet</display-name>
    <servlet-name>XoaPhanCongGiangDayServlet</servlet-name>
    <servlet-class>controller.XoaPhanCongGiangDayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaPhanCongGiangDayServlet</servlet-name>
    <url-pattern>/xoaphanconggiangday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaMonHocServlet</display-name>
    <servlet-name>XoaMonHocServlet</servlet-name>
    <servlet-class>controller.XoaMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaMonHocServlet</servlet-name>
    <url-pattern>/xoamonhoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaMonHocServlet</display-name>
    <servlet-name>SuaMonHocServlet</servlet-name>
    <servlet-class>controller.SuaMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaMonHocServlet</servlet-name>
    <url-pattern>/suamonhoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachLopTheoNamServlet</display-name>
    <servlet-name>DanhSachLopTheoNamServlet</servlet-name>
    <servlet-class>ajax.DanhSachLopTheoNamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachLopTheoNamServlet</servlet-name>
    <url-pattern>/DanhSachLopTheoNamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachLopCuaGiaoVien</display-name>
    <servlet-name>DanhSachLopCuaGiaoVien</servlet-name>
    <servlet-class>controller.DanhSachLopCuaGiaoVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachLopCuaGiaoVien</servlet-name>
    <url-pattern>/DanhSachLopCuaGiaoVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HocSinhCuaToiServlet</display-name>
    <servlet-name>HocSinhCuaToiServlet</servlet-name>
    <servlet-class>controller.HocSinhCuaToiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HocSinhCuaToiServlet</servlet-name>
    <url-pattern>/HocSinhCuaToiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatDiemServlet</display-name>
    <servlet-name>CapNhatDiemServlet</servlet-name>
    <servlet-class>ajax.CapNhatDiemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatDiemServlet</servlet-name>
    <url-pattern>/CapNhatDiemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LayDiemTongServlet</display-name>
    <servlet-name>LayDiemTongServlet</servlet-name>
    <servlet-class>ajax.LayDiemTongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LayDiemTongServlet</servlet-name>
    <url-pattern>/LayDiemTongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachHocBaServlet</display-name>
    <servlet-name>DanhSachHocBaServlet</servlet-name>
    <servlet-class>controller.DanhSachHocBaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachHocBaServlet</servlet-name>
    <url-pattern>/danhsachhocba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietHocBaServlet</display-name>
    <servlet-name>ChiTietHocBaServlet</servlet-name>
    <servlet-class>controller.ChiTietHocBaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietHocBaServlet</servlet-name>
    <url-pattern>/chitiethocba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachNamHocTheoLopServlet</display-name>
    <servlet-name>DanhSachNamHocTheoLopServlet</servlet-name>
    <servlet-class>ajax.DanhSachNamHocTheoLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachNamHocTheoLopServlet</servlet-name>
    <url-pattern>/DanhSachNamHocTheoLopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatHocBaServlet</display-name>
    <servlet-name>CapNhatHocBaServlet</servlet-name>
    <servlet-class>ajax.CapNhatHocBaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatHocBaServlet</servlet-name>
    <url-pattern>/CapNhatHocBaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KiemTraDangNhapServlet</display-name>
    <servlet-name>KiemTraDangNhapServlet</servlet-name>
    <servlet-class>controller.KiemTraDangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KiemTraDangNhapServlet</servlet-name>
    <url-pattern>/kiemtrataikhoan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/dangxuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaLopServlet</display-name>
    <servlet-name>SuaLopServlet</servlet-name>
    <servlet-class>controller.SuaLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaLopServlet</servlet-name>
    <url-pattern>/sualop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaLopServlet</display-name>
    <servlet-name>XoaLopServlet</servlet-name>
    <servlet-class>controller.XoaLopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaLopServlet</servlet-name>
    <url-pattern>/xoalop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMonHocServlet</display-name>
    <servlet-name>ThemMonHocServlet</servlet-name>
    <servlet-class>controller.ThemMonHocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMonHocServlet</servlet-name>
    <url-pattern>/themmonhoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMatKhauServlet</display-name>
    <servlet-name>DoiMatKhauServlet</servlet-name>
    <servlet-class>controller.DoiMatKhauServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMatKhauServlet</servlet-name>
    <url-pattern>/doimatkhau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LopFormServlet</display-name>
    <servlet-name>LopFormServlet</servlet-name>
    <servlet-class>controller.LopFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LopFormServlet</servlet-name>
    <url-pattern>/LopFormServlet</url-pattern>
  </servlet-mapping>
</web-app>